doctype 
html(lang="en" data-ng-app="bitcoinRemit")
  head
    title BitcoinRemit
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="icon" type="image/png" href="favicon.png")
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='js/ngBitcoinRemit.js')

  body()
    div.section.hero(data-ng-controller="accountController")
      div.container
        h2 BitcoinRemit  
        h3 {{account.name}}, Balance: {{account.balance | currency : "BTC "}}
        form(action="/api/remit" method="post")
          div.row
            div.six.columns
              label(for="walletAddress") Wallet Address
              input.u-full-width#walletAddress(type="text" name="walletAddress")
            div.six.columns 
              label(for="remitAmt") Remittance amount
              input.u-full-width#remitAmt(type="text" name="remitAmt")
          input.button-primary(type="submit",value="Remit!")

        
